spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/learning_management_db
    username: Maksim
    password: lol4
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: db/changelog/db.changelog-master.yml
  jpa:
    hibernate:
      ddl-auto: none
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format-sql: true
  schedule:
    daily: "0 0 10 * * *"